// Hide our hamburger menu if it isn't shown
.site .hamburger-menu:not(.expanded) {
  width: 0px;
}

.site .hamburger-menu {
  transition: width 0.3s;
  overflow-x: hidden;
}

.hamburger-menu .header {
  border: none;
  color: #b0b0b0;

  span {
    font-size: 24rem;
  }

  .title .fa.fa-bars {
    margin-right: 35rem;
  }

  .title {
    display: flex;
    align-items: center;

    box-sizing: border-box;
    padding: 15rem;
    width: 100%;
    border-bottom: 1px solid #b0b0b0;
  }

  .fa.fa-bars {
    font-size: 28px;
  }

  a {
    text-decoration: none;
    color: $bitdj-color-text;
  }
}

.hamburger-menu-contents {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
